h1{
  color: darkmagenta;
}

.button{
  background-color: Black;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1{
  background-color: white;
  color: black;
  border: 1px solid #e7e7e7;
}

.button1:hover{
  background-color: gray;
  color: black;
}